@import url(font.css);
nav {
  font-family: Capriola, Helvetica, sans-serif;
  font-size:15px;
  font-weight: 900;
}
ul li:hover{
font-color: white;
}

#maincontent{
  margin-top: -40px;
  margin-left: 40px;
  font-size: 13pt;
  width: 95%;
}

#wrap {
   width:100%;
   margin:0 auto;
}
#left_col {
   float:left;
   width:50%;
}
#right_col ul,
#right_col ul, li{
   list-style-type: none;
   text-align: left;
}
#right_col {
   float:right;
   width:50%;
}
#right_col, #left_col h4{
  text-align: left;
  margin-right: 0px;
}
#footer {
    background-color:#1f4050;
    color:white;
    width: 100%;
    height: auto;
    margin-bottom: -400px;
    clear:both;
    text-align:center;
    padding:5px; 
}
body {
  min-height: auto;
  padding-top: 70px;
  background-color: #fbfbfb;
}
#container1 {
    width:30%;
    float:left;
    padding:10px;   
    margin-left: 40px; 
    margin-bottom: 40px;
}
#container2 {
    width:200px;
    float:right;
    padding:10px;   
    margin-right: 70px; 
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
body .modal-content {
    /* new custom width */
    width: 800px;
    height: 350px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -80px;
    margin-top: 100px;
}